<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Towan</title>
<div th:replace="~{includes/bootstrapMeta :: bootstrapMeta}" />
<div th:replace="~{includes/bootstrapCSS :: bootstrapCSS}" />

<style>
.navBtn {
	background-color: #cccccc;
	border: 2px solid #bbbbbb;
	color: black;
	font-style: bold;
	font-size: 20px;
	font-family: Calibri;
}

.navBtn:hover {
	background-color: #bbbbbb;
}

.jumbotron {
	margin-bottom: 0px;
}

.row {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

h1 {
	font-family: "Algerian";
	font-size: 32px;
}
</style>



</head>
<body>
	<div style="background: url('HeaderWall.png')" class="jumbotron text-center">
		<h1>Towan</h1>
	</div>
	<div class="row">
		<div class="btn-group-justified">
		  <a href="home" class="btn navBtn">Home</a>
		  <a href="game" class="btn navBtn">Game</a>
		  <a href="profile" class="btn navBtn">Profile</a>
		  <a href="settings" class="btn navBtn">Settings</a>
		</div>
	</div>
	<br/>
	<div class="row text-center">
		
		<h1>Forum</h1>
		
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<p>
				<span sec:authorize="hasRole('ADMIN')" aria-hidden="true">
					<a href="addTopic">
						<button type="button" class="btn btn-success">Add new
							Topic</button>
					</a> </span>
				</p>
			</div>
		</div>
	<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<table data-toggle="table" class="table table-striped">
					<thead>
						<tr>
							<th data-sortable="true">Topic</th>
							<th data-sortable="true">Number of Subforums</th>
							<th data-sortable="true" sec:authorize="hasRole('ROLE_ADMIN')"  aria-hidden="true">Actions</th>						
						</tr>
					</thead>
					<tbody>
						<!--  list all items ----------------------------------------------------------- -->
						<tr th:each="forums : ${#request.getAttribute('forums')}">
							<td>
							<a th:href = "@{forum/subforum(id=${forums.forumId})}" th:text="${forums.name}">
							</a>
							</td>
							<td th:text="${#lists.size(forums.subforums)}"></td>
							
							<td sec:authorize="hasRole('ADMIN')" aria-hidden="true">
								<a th:href="@{/deleteForum(id=${forums.ForumId})}">
										<button type="button" class="btn btn-xs btn-danger">
											<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
											Delete
										</button>
								</a>
							
							</td>
						</tr>
						
					</tbody>
	</table>
	</div>
	<a href="impressum">About</a>
</body>
</html>