<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Towan</title>
<div th:replace="~{includes/bootstrapMeta :: bootstrapMeta}" />
<div th:replace="~{includes/bootstrapCSS :: bootstrapCSS}" />

<style>
	.navBtn
	{
		background-color: #cccccc;
		border: 2px solid #bbbbbb;	
		color: black;
		font-style: bold;
		font-size: 20px;
		font-family: Calibri;
	}
	
	.navBtn:hover
	{
		background-color: #bbbbbb;
	}
	
	.jumbotron
	{
		margin-bottom: 0px;
	}
	
	.row
	{
		width: 100%;
		margin: 0px;
		padding: 0px;
	}
</style>



</head>
<body>
	<div class="jumbotron text-center">
		<h1>Towan</h1>
	</div>
	<div class="row">
		<div class="btn-group-justified">
		  <a href="home" class="btn navBtn">Home</a>
		  <a href="profile" class="btn navBtn">Profile</a>
		  <a href="forum" class="btn navBtn">Forum</a>
		  <a href="settings" class="btn navBtn">Settings</a>
		</div>
	</div>
	<br/>
	<div class="row text-center">
		
		<h1>Bad Luck. There is <b>NO</b> Game!</h1>
	
	</div>
	<a href="impressum">About</a>
</body>
</html>