<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Towan</title>
<div th:replace="~{includes/bootstrapMeta :: bootstrapMeta}" />
<div th:replace="~{includes/bootstrapCSS :: bootstrapCSS}" />

<style>
.navBtn {
	background-color: #cccccc;
	border: 2px solid #bbbbbb;
	color: black;
	font-style: bold;
	font-size: 20px;
	font-family: Calibri;
}

.navBtn:hover {
	background-color: #bbbbbb;
}

.jumbotron {
	margin-bottom: 0px;
}

.row {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

h5 {
	font-family: "Algerian";
	font-size: 32px;
}
</style>



</head>
<body>
	<div style="background: url('HeaderWall.png')" class="jumbotron text-center">
		<h5>Towan</h5>
	</div>
	<div class="row">
		<div class="btn-group-justified">
			<a href="game" class="btn navBtn">Game</a> <a href="profile"
				class="btn navBtn">Profile</a> <a href="forum" class="btn navBtn">Forum</a>
			<a href="settings" class="btn navBtn">Settings</a>
		</div>
	</div>
	<br />
	<div class="row text-center">

		<h1>
			<b>Home</b>
		</h1>

	</div>
	<a href="impressum">About</a>
</body>
</html>