<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>About Page</title>
</head>
<body>
<h1> Impressum </h1>
<p>The web site &#147Towan.us&#147 was created in the course of the lecture &#147Software Engineering Advanced&#147 as a student project under the instruction of the professors DI(FH)Johann Blauensteiner and Dipl. Ing. Mario Zupan. 
This course is part of the fourth semester of the bachelor degree programm &#147Informationmanagment&#147at university of applied science in Graz.</br>
&#147Towan.us&#147 is a tower defence game web site that allows users to play a tower defence game with a personal account. This account keeps track of the users achievements that are represented
by a statistic. This improvement show the users improvements from one game to another.</br>

Students involved in this project are:
<ul>
 	<li> Elisabeth Fellner </li>
 	<li> Vanessa Fortmueller </li>
 	<li> Martin Haring </li>
 	<li> Stefan Kogelnik </li>
 	<li> Fabian Schopper </li>
</ul>
</p>

<h2> Kontakt</h2>
     <p>  Institution: <a href="https://www.fh-joanneum.at" target="_blank"> FH JOANNEUM Gesellschaft mbH</a></br>
          Address: <a href="https://www.google.at/maps/place/Fachhochschule+Joanneum/@47.069313,15.40799,17z/data=!3m1!4b1!4m2!3m1!1s0x476e350ee5b5f885:0xdcf52580ffd6a24e?hl=de" target="_blank">
          Alte Poststra&#223e 149 , A-8020 Graz</tr><br> </a>
          Phone:<a href="tel:+4331654530">  +43 (0)316 5453-0 </a><br>
          Fax:<a href="fax:+4331654538801"> +43 (0)316 5453-8801 </a><br>
          E-Mail: <a href="mailto:info@fh-joanneum.at">info@fh-joanneum.at</a><br><br><br>
          Course of Studies: <a href="http://www.fh-joanneum.at/aw/home/Studienangebot_Uebersicht/department_angewandte_informatik/~oya/ima/?lan=de" target="_blank">IMA15</a><br><br>
     </p>
</p>

</body>
</html>