<!DOCTYPE html>
<html>
<head>
<title>Towan</title>
<div th:replace="~{includes/bootstrapMeta :: bootstrapMeta}" />
<div th:replace="~{includes/bootstrapCSS :: bootstrapCSS}" />

<style>
.buttonStyle {
	background-color: #000000;
	color: #ffffff;
	font-family: "Calibri";
	font-size: 20px;
	height: 40px;
	width: 200px;
	margin-top: 5mm;
}

.buttonStyle:hover {
	background-color: #ffffff;
	color: #000000;
	border: 5px solid black;
}

.well
{
	padding: 10px 0px 10px 0px;	
}

h5 {
	font-family: "Algerian";
	font-size: 32px;
}
</style>
</head>

<body>

	<div style="background: url('HeaderWall.png')" class="jumbotron text-center">
		<h5>Welcome</h5>
	</div>

	<div class="row content text-center">
		<div class="well col-sm-3 sidenav">
			<h2>Test</h2>
		</div>
		
		<div class="col-sm-5 text-center">Video</div>
		<br/><br/>
		
		
		
		
		<!-- FOR TESTING ONLY -->
		<div class="col-sm-5 text-center">
			<div><b>Username: </b><p th:text="${currUsername}"></p></div>
			<a href="logout">Logout</a>
		</div>
		
		
			
		<div class="well col-sm-3 sidenav">
			<a href="login">
				<button class="buttonStyle">Sign In</button>
			</a>
			<br />
			<a href="register">
				<button class="buttonStyle">Sign Up</button>
			</a>
		</div>
	</div>

</body>
</html>
