<!DOCTYPE html>
<html>
<head>
<title>Towan</title>
<div th:replace="~{includes/bootstrapMeta :: bootstrapMeta}" />
<div th:replace="~{includes/bootstrapCSS :: bootstrapCSS}" />

<style>
.buttonStyle {
	background-color: #000000;
	color: #ffffff;
	font-family: "Calibri";
	font-size: 20px;
	height: 40px;
	width: 200px;
	margin-top: 5mm;
}

.buttonStyle:hover {
	background-color: #ffffff;
	color: #000000;
	border: 5px solid black;
}

.well
{
	padding: 10px 0px 10px 0px;	
}
</style>
</head>

<body>

	<div class="jumbotron text-center">
		<h1>Welcome</h1>
	</div>

	<div class="row content text-center">
		<div class="well col-sm-3 sidenav">
			<h2>Test</h2>
		</div>

		<div class="col-sm-5 text-center">Video</div>

		<div class="well col-sm-3 sidenav">
			<h3>Login</h3>
			<button class="btn buttonStyle">Sign In</button>
			<br />
			<button class="btn buttonStyle">Sign Up</button>
		</div>
	</div>

</body>
</html>
