<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Register page</title>
<div th:replace="~{includes/bootstrapMeta :: bootstrapMeta}" />
<div th:replace="~{includes/bootstrapCSS :: bootstrapCSS}" />

<style>
.buttonStyle {
	background-color: #000000;
	color: #ffffff;
	font-family: "Calibri";
	font-size: 20px;
	height: 40px;
	width: 200px;
	margin-top: 5mm;
	margin-left: 20%;
}

.buttonStyle2 {
	background-color: #AAAAAA;
	color: #ffffff;
	font-family: "Calibri";
	font-size: 20px;
	height: 40px;
	width: 100px;
	margin-top: 5mm;
	margin-left: 60%;
}

.buttonStyle:hover {
	background-color: #ffffff;
	color: #000000;
	border: 5px solid black;
}

.well {
	padding: 10px 0px 10px 0px;
}
</style>

</head>
<body>
	<div class="container" role="main">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<form class="form-horizontal" method="post"
					th:action="${user} ? @{register}">
					<fieldset>
						<div class="form-group">
						
							<!---------------  Email ---------------- -->
						
							<label for="inputEmail" class="control-label">Email Adress</label>
							<div class="col-md-8">
								<input class="form-control" id="inputEmail" type="text"
									name="email_address" th:value="${user} ? ${user.email_address}">
							</div>
							<br/>

							<!---------------  Username ---------------- -->
							
							<label for="inputUsername" class="control-label">Username</label>
							<div class="col-md-8">
								<input class="form-control" id="inputUsername" type="text"
									name="username" th:value="${user} ? ${user.username}">
							</div>
							<br/>
													
							<!---------------  Password ---------------- -->
							
							<label for="inputPassword" class="control-label">Password</label>
							<div class="col-md-8">
								<input class="form-control" id="inputPassword" type="text"
									name="password" th:value="${user} ? password">
							</div>
							<br/>
						</div>
						
						<!---------------  buttons ---------------- -->
						<div class="form-group">
							<div class="col-md-10 col-md-offset-2">
								<button type="submit" class="btn btn-primary">Submit</button>
								<a href="index">
									<button type="button" class="btn btn-default">Cancel</button>
								</a>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>



		<!--  
					<div class="well">
						<p>Email address: </p>
						<input type="text" id="email" class="form-control" placeholder="john.doe@gmail.com" required autofocus name="email" th:value="${user} ? ${user.email_address}"> 
						<p> </p>
						<p>Username: </p>
						<input type="text" id="username" class="form-control" placeholder="User" required autofocus name="username" th:value="${user} ? ${user.username}"> 
						<p> </p>
						<p>Password: </p>
						<input type="password" id="pwd" class="form-control" placeholder="Password" required name="password" th:value="${user} ? ${user.password}">
						<p> </p>
						<p>Confirm password: </p>
						<input type="password" id="passwordAgain" class="form-control" placeholder="Password" required name="password">
						<p> </p>
						<button class="buttonStyle" type="submit">Sign in</button>
						<p> </p>
						<a href="index">Cancel</a>
					</div>-->

		<!--  			    __                   __
                   | _'-._           _.-'_ |
                   | '::. '.       .' .::' |
                    \ '::\  \     /  /::' /
                     \  ':\  |   |  /:'  /
                      '._ `  '---'  ` _.'
                         ) __     __ (
                        / /  \   /  \ \
                       /  \_0/   \0_/  \
                     =/       .-.       \=
                    =| .'     \_/     '. |=
                     =\ '      |      ' /=
     {}._              '.__ `--'--` __.'
    {}{}-'=._         /`   \_______/   `\
   >{}={}_-=_`=.,==,=|     /==,==,=\     |.,_
  {}~-{}~{}"-=-/  /  /\,,,/  /  /   \,,,//  /`"=._
 {}<{}-{}-_=-";  ;  _; _ ;  ;  ;  ;  ; _; _:   /  /`;=,__,
{}{}={}->"-_~-;  |_/ \| \|  |  |  |  |/ |/ \_ ;  :  ; _,='
 {}{}"<{}{_==";  / \()()|;  ;  ;  ;  ;|()()/ \ \ _;="`
   {}{}{}>=-_.=\ \() _  | \  \  \  \  |    ()/="`
    {}jgs{}-`   `=\ / `\|==`==`==`==`=|/` \ /
     {}{}          \\  ||             ||  //
                    \'-'/             \'-'/
                     `"`               `"`
					
-->

		<input type="hidden" th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}">
	</div>
</body>
</html>
