<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>SETTINGS</title>
</head>
<body>
<h1>This is supposed to be the page that no user will ever use.</h1>
<h2>There should be a a lot of buttons, however, only 2 of them are supposed to actually work.</h2>
<p>And these buttons will be a nav-bar later.</p>

	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<p>
				<a href="profile">
					<button type="button" class="btn btn-success">Profile</button>
				</a>
				<a href="forum">
					<button type="button" class="btn btn-success">Forum</button>
				</a>
				<a href="game">
					<button type="button" class="btn btn-success">Game</button>
				</a>
				<a href="home">
					<button type="button" class="btn btn-success">Home</button>
				</a>
			</p>
		</div>
	</div>
	<a href="impressum">About</a>
</body>
</html>