<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns:b="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<http>
			<csrf disabled="true" />
		<intercept-url pattern="/secured/**" access="hasRole('ROLE_USER')"/>
		
		<!-- 
		
		<intercept-url pattern="/game" access="hasRole('ROLE_USER')"/>
		<intercept-url pattern="/home" access="hasRole('ROLE_USER')"/>
		<intercept-url pattern="/profile" access="hasRole('ROLE_USER')"/>
		<intercept-url pattern="/forum" access="hasRole('ROLE_USER')"/>
		<intercept-url pattern="/settings" access="hasRole('ROLE_USER')"/>
		
		 -->
		 
		<intercept-url pattern="/**" access="permitAll"/>
		<form-login login-page="/login" default-target-url="/home"/>
		<logout logout-success-url="/index" logout-url="/logout" />

	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="myUserDetailsService">
			<password-encoder hash="bcrypt" />
		</authentication-provider>
	</authentication-manager>
	

</b:beans>